# Arquivos de configuração
/Config/core.php
/Config/database.php
/Config/safe.php

# Arquivos temporários
/tmp

# Uploads
/webroot/files

# Python
*.pyc

# TwitterBootstrap
webroot/css/bootstrap-responsive.css
webroot/css/bootstrap.css
webroot/js/bootstrap.js