body {
	padding-bottom: 40px;
}

.container-fluid .row-fluid {
	margin-top: 60px;
}

.sidebar-nav {
	padding: 9px 0;
}

.avatar {
	box-shadow: 0 0 3px 1px #AAA;
}

table .avatar {
	margin-right: 5px;
}