body {
	padding-bottom: 40px;
}

.container-fluid .row-fluid {
	margin-top: 60px;
}

.sidebar-nav {
	padding: 9px 0;
}

table .img-circle.gravatar {
	margin: -3px 5px -3px -3px;
	float: left;
}

.label a { color: #FFF }