
// Cores
@amarelo: 			#fdfaf3;
@amarelo_escuro: 	#f0ede8;
@verde: 			#abd6bb;
@vermelho:			#ca0018;
@cinza: 			#888;
@cinza_escuro: 		#333;

// Medidas
@largura_site: 960px;
@gutter: 20px;

@espaco_pequeno: 15px;
@espaco_medio: @espaco_pequeno * 2;
@espaco_grande: @espaco_pequeno * 3;