@import "normalize";
@import "grid";
@import "config";
@import "mixins";

// ==================================================================
// Temporary styles
// ==================================================================

.debug {
	background: transparent url('../img/960_grid_12_col.png') top center repeat-y;

	header[role=heading] { background: rgba(0, 255, 0, .2) }
	section[role=main] { background: rgba(0, 0, 255, .2) }
	footer[role=contentinfo] { background: rgba(255, 0, 0, .2) }

	.inscricoes { opacity: .8 }
}

// ==================================================================
// Generic elements
// ==================================================================

body { .standard-text }

h1,h2,h3,h4,h5,h6 { .standard-title }

a { .standard-link }

dfn { border-bottom: 1px dotted; cursor: help }

nav a { .menu-link }

nav { ul, li { margin: 0; padding: 0; list-style: none }}

// ==================================================================
// Default form
form {
	input {
		padding: 6px 5px 4px;
		.border-radius(6px);
	}

	input[type=text],
	input[type=email] {
		font-family: 'Handlee', sans-serif;
	}
}

// ==================================================================
// Generic classes

.wrapper {
	width: @total-width;
	margin: 0 auto;

	.clearfix;
}

// ==================================================================
// Header
// ==================================================================

header[role=heading] {
	background-color: @amarelo_claro;
	padding: @espaco_medio 0 @espaco_medio;

	.wrapper { position: relative }

	// Logo
	hgroup[role=banner] {
		.column(6);

		h1 { margin-top: 0; font-size: 2.5em }
		h2 { margin-bottom: 0; display: none }

		.logo {
			color: @rosa;

			&:hover { color: @vermelho }
		}
	}

	// Menu
	nav[role=navigation] {
		.column(6);

		text-align: right;

		li {
			display: inline-block;
			margin-left: @espaco_pequeno;

			&:last-child a {
				color: @vermelho;

				&:hover { color: @rosa }
			}
		}
	}

	// Sobre o curso
	.sobre {
		.column(9);
		.pull(3);

		img {
			position: absolute;
			right: 60px
		}

		h5 { .content-title }

		.recursos,
		.recursos li {
			list-style: none;
			margin: 0; padding: 0;
		}

		.recursos {
			li {
				background: @verde_claro center 20px no-repeat;

				float: left;

				padding: 10px;

				width: 80px;
				height: 105px;

				margin-right: 20px;

				text-align: center;
				color: @verde;
				font-size: .9em;
				overflow: hidden;

				.border-radius(12px);
				.transition(background-position, 0.5s, ease-out);

				&.online { background-image: url('../img/icones/online.png') }
				&.video { background-image: url('../img/icones/video.png') }
				&.audio { background-image: url('../img/icones/audio.png') }
				&.slides { background-image: url('../img/icones/slides.png') }

				&:last-child { margin-right: 0 }

				strong {
					display: block;
					margin-top: 80px;

					.transition(margin-top, 0.5s, ease-out);
				}

				span { display: none }

				// Hover
				&:hover {
					cursor: help;
					background-position: center -40px;

					strong { margin-top: 20px }

					span { display: block }
				}

				&.online:hover {
					background-position: center -20px;
					strong { margin-top: 45px }
				}
			}
		}
	}

}

// ==================================================================
// Conteúdo
// ==================================================================

section[role=main] {
	background-color: #f0ede8;
	border-top: 1px solid #d8d5d0;

	// ==================================================================
	// Faixa de inscrições
	.inscricoes {
		background-color: #e4e1dc;
		padding: @espaco_medio 0 @espaco_medio;

		border-top: 1px solid #cdcac6;
		border-bottom: 1px solid #cdcac6;

		h1 {
			.column(6);
			margin-bottom: @espaco_pequeno;
		}

		.precos {
			.column(6);
			.pull(1);

			font: normal 1.2em/1.5em 'Handlee', sans-serif;

			p {
				width: 40%;
				float: left;
				clear: left;
				margin: 0;

				time, strong {
					display: block;
					color: #000;
					font-size: 1.6em;
					margin: .3em 0 .5em;
				}
			}

			p.valor {
				padding: 10px 0;
				width: 59%;
				font-size: 1.3em;
				float: right;
				text-align: center;
				position: relative;

				border-left: 1px solid darken(#efece7, 10%);

				strong {
					font-size: 1.6em;
					margin: 15px 0 20px;

					span {
						font-size: .5em;
					}
				}

				.a-vista {
					border-top: 1px solid darken(#efece7, 10%);
					padding-top: 10px;
					font-size: .8em;
				}

				&:after {
					content: " ";

					display: block;
					width: 126px;
					height: 32px;

					position: absolute;
					top: 25px;
					right: -70px;

					background: transparent url('../img/seta-inscricoes.png') no-repeat;
				}
			}
		}

		a.botao {
			.column(5);

			background-color: @verde;
			text-align: center;
		}
	}

	// ==================================================================
	// Vantagens
	.vantagens {
		padding: @espaco_medio 0 @espaco_pequeno;
		.clearfix;

		> h1 { .column(12); margin-bottom: @espaco_pequeno }

		article {
			.column(5);

			img {
				width: 140px;
				float: left;
				margin-right: @espaco_pequeno;
			}

			h1 {
				.content-title;
				margin-top: 0;
			}

			&:last-child {
				.column(6);
				.push(1);
			}
		}
	}

	// ==================================================================
	// Depoimentos
	.depoimentos {
		.column(5);
		.pull(1);

		article {
			margin-bottom: @espaco_pequeno;
			padding-bottom: @espaco_pequeno;
			border-bottom: 1px solid darken(@amarelo_claro, 8%);

			&:last-child {
				border-bottom: none;
			}
		}

		blockquote {
			margin: 0;

			em { .content-title	}

			cite {
				.content-title;
				font-style: italic;
				font-size: .9em;
			}
		}
	}

	// ==================================================================
	// Professor
	.professor {
		.column(6);
		margin-bottom: @espaco_medio;

		article {
			img {
				float: left;
				margin-right: @espaco_pequeno;
			}

			h1 {
				.content-title;
			}
		}
	}

	// ==================================================================
	// Newsletter
	.newsletter {
		.column(6);
		background-color: @verde_claro;
		padding: 20px 0;

		.border-radius(12px);

		fieldset {
			padding: 10px 20px 5px;
			border: none;

			legend {
				.standard-title;

				color: #333;
				font-size: 1.4em;
			}

			label { display: none }

			input[type=text],
			input[type=email] {
				width: 42%;
				border: 1px solid darken(@verde, 20%);
			}

			input[type=submit] {
				padding: 7px 7px 6px;
				background-color: darken(@verde, 10%);
				border: none;
				color: #FFF;
				font-size: .9em;
			}
		}
	}

}

// ==================================================================
// Rodapé
// ==================================================================
footer[role=contentinfo] {
	padding: @espaco_medio 0 @espaco_grande;

	background-color: @cinza;
	color: #FFF;

	// ==================================================================
	// Pagamento
	.pagamento {
		.column(5);

		span.pagamento-flag {
			margin: 0 8px 10px 0;
		}
	}

	// ==================================================================
	// Créditos
	.creditos {
		.column(6);
		.push(1);

		text-align: right;

		nav { margin-bottom: @espaco_medio }

		li {
			margin-left: @espaco_pequeno;
			display: inline-block;

			a { color: #FFF }

			&:last-child a { color: @vermelho }

			a:hover { color: @rosa }
		}

		.cakephp { font-size: .9em; }
	}
}

// ==================================================================
// Pages
// ==================================================================
body.pages {

	// ==================================================================
	// Home
	&.home {
		header[role=heading] {

			h2 { display: block }

			.sobre {
				.column(6);
				.pull(6);

				&:before {
					content: " ";
					background: url('../img/gnomos/header-bolo.png') center center no-repeat;
					display: block;
					width: 435px;
					height: 426px;
					position: absolute;
					right: -20px;
					top: 45px;
				}
			}
		}

		.inscricoes { background: #efece7 }

		section[role=main] {
			background-color: @amarelo_claro;
			border-top: none;
		}
	}

	// ==================================================================
	// Sobre o Curso
	&.about,
	&.about-advanced {
		header[role=heading] {
			padding-bottom: 0;

			.wrapper {
				@larguraImagem: 200px;

				background-image: url('../img/gnomos/header-modulo-basico.png');
				background-position: (@total-width - @larguraImagem - 100px) 50px;
				background-repeat: no-repeat;
				padding-bottom: @espaco_medio;

				.sobre .inscreva-se {
					margin-top: @espaco_medio;
					overflow: hidden;

					a {
						.border-radius(6px);
						background: @verde;
						padding: 10px @espaco_grande;
						font: normal 1.9em/1.2em 'Handlee', sans-serif;
						color: #fff;
						text-transform: lowercase;
						float: left;
						display: block;
						margin-right: @espaco_pequeno;
					}

					p {
						padding: 8px 0 8px @espaco_pequeno;
						float: left;
						width: 50%;
						margin: 0;
						border-left: 1px solid darken(@amarelo_claro, 10%);

						strong {
							color: darken(@verde, 20%);
						}
					}
				}
			}
		}

		section[role=main] {
			.wrapper {

				h4 { .content-title; margin-bottom: .5em }
				ul { margin: 0 0 2em }

				.col-1 { .column(6) }
				.col-2 { .column(5); .push(1) }
			}

		}
	}

	&.about-advanced {
		header[role=heading] {
			.wrapper {
				@larguraImagem: 230px;

				background-image: url('../img/gnomos/header-modulo-avancado.png');
				background-position: (@total-width - @larguraImagem - 30px) 40px;
			}
		}
	}

	// ==================================================================
	// CakePHP
	&.cakephp {
		section[role=main] {
			border-bottom: 1px solid #FFF;

			.wrapper {
				padding: @espaco_pequeno 0 @espaco_medio;
			}

			.sobre {
				.column(7);

				h2 { .content-title }

				.gist { font-size: .8em; line-height: 1.2em }
			}

			.recursos {
				.column(5);
				h3 { .content-title }
				li { margin-bottom: 10px }
			}

		}
	}

}

// ==================================================================
// Erro 404
// ==================================================================
body.cakeerror {

	header[role=heading] {
		h1 { margin: 0 }
	}


	section[role=main] {
		.wrapper {
			padding: @espaco_grande * 2 0;
			min-height: 380px;
			background: url('../img/gnomos/404.png') left center no-repeat;
		}

		.content {
			.column(4);
			.push(8);

			padding-top: 50px;
			text-align: center;

			h1, h2 { color: #bb0017 }

			h1 {
				font-size: 9em;
				line-height: 1em;
				margin: 0;
			}

			h2 {
				font-size: 2em;
				margin: 0
			}

			p { margin-bottom: 2em }
		}
	}
}

// ==================================================================
// Pagamento
// ==================================================================
.pagamento-flag{
	background: url('../img/icones/pagamento-flags.png') no-repeat;

	display: inline-block;
	width: 42px;
	height: 20px;

	text-indent:-9999px
}
.pagamento-pagseguro{background-position: 0 0}
.pagamento-visa{background-position:-42px 0}
.pagamento-mastercard{background-position:-84px 0}
.pagamento-diners{background-position:-126px 0}
.pagamento-americanexpress{background-position:-168px 0}
.pagamento-hipercard{background-position:-210px 0}
.pagamento-aura{background-position:-252px 0}
.pagamento-elo{background-position:-294px 0}
.pagamento-personalcard{background-position:-672px 0}
.pagamento-plenocard{background-position:-336px 0}
.pagamento-brasilcard{background-position:-756px 0}
.pagamento-fortbrasil{background-position:-798px 0}
.pagamento-oipaggo{background-position:-378px 0}
.pagamento-bradesco{background-position:-420px 0}
.pagamento-itau{background-position:-462px 0}
.pagamento-bb{background-position:-504px 0}
.pagamento-banrisul{background-position:-546px 0}
.pagamento-hsbc{background-position:-588px 0}
.pagamento-boleto{background-position:-630px 0}
.pagamento-pincode{background-position:-714px 0}
.pagamento-paypal{background-position:-840px 0}