@import "normalize";
@import "grid";
@import "config";
@import "mixins";

// ==================================================================
// Temporary styles
// ==================================================================

.debug {
	background: transparent url('../img/960_grid_12_col.png') top center repeat-y;

	header[role="heading"] { background: rgba(0, 255, 0, .2) }
	section[role="main"] { background: rgba(0, 0, 255, .2) }
	footer[role="contentinfo"] { background: rgba(255, 0, 0, .2) }

	.inscricoes { opacity: .8 }
}

// ==================================================================
// Generic elements
// ==================================================================

body { .standard-text }

h1,h2,h3,h4,h5,h6 { .standard-title }

a { .standard-link }

dfn { border-bottom: 1px dotted; cursor: help }

nav a { .menu-link }

nav { ul, li { margin: 0; padding: 0; list-style: none }}

// ==================================================================
// Generic classes

.wrapper {
	width: @total-width;
	margin: 0 auto;

	.clearfix;
}

// ==================================================================
// Header
// ==================================================================

header[role="heading"] {
	background-color: @amarelo_claro;
	padding: @espaco_medio 0 @espaco_grande;

	// Logo
	hgroup[role="banner"] {
		.column(6);

		h1 { margin-top: 0 }
		h2 { margin-bottom: 0 }
	}

	// Menu
	nav[role="navigation"] {
		.column(6);

		text-align: right;

		li {
			display: inline-block;
			margin-left: @espaco_pequeno;

			&:last-child a {
				color: @vermelho;

				&:hover { color: @rosa }
			}
		}
	}

	// Sobre o curso
	.sobre {
		.column(6);
		.pull(6);

		h5 { .content-title }

		.recursos,
		.recursos li {
			list-style: none;
			margin: 0; padding: 0;
		}

		.recursos {
			li {
				background: @verde_claro url('../img/icones/online.png') center 20px no-repeat;

				float: left;

				padding: 10px;

				width: 80px;
				height: 105px;

				margin-right: 20px;

				text-align: center;
				color: @verde;
				font-size: .9em;
				overflow: hidden;

				.border-radius(12px);
				.transition(background-position, 0.5s, ease-out);

				&:last-child { margin-right: 0 }

				strong {
					display: block;
					margin-top: 80px;

					.transition(margin-top, 0.5s, ease-out);
				}

				span { display: none }

				// Hover
				&:hover {
					cursor: help;
					background-position: center -40px;

					strong { margin-top: 20px }

					span { display: block }
				}

				&.online:hover {
					background-position: center -20px;
					strong { margin-top: 45px }
				}
			}
		}
	}

}

// ==================================================================
// Conteúdo
// ==================================================================

section[role="main"] {

	// Faixa de inscrições
	.inscricoes {
		background-color: #efece7;
		padding: @espaco_medio 0 @espaco_medio;

		h1 {
			.column(6);
			margin-bottom: @espaco_pequeno;
		}

		.precos {
			.column(6);
			.pull(1);

			font: normal 1.2em/1.5em 'Handlee', sans-serif;

			p {
				width: 40%;
				float: left;
				clear: left;
				margin: 0;

				time, strong {
					display: block;
					color: #000;
					font-size: 1.6em;
					margin: .3em 0 .5em;
				}
			}

			p.valor {
				padding: 10px 0;
				width: 59%;
				font-size: 1.3em;
				float: right;
				text-align: center;
				position: relative;

				border-left: 1px solid darken(#efece7, 10%);

				strong {
					font-size: 1.6em;
					margin: 15px 0 20px;

					span {
						font-size: .5em;
					}
				}

				.a-vista {
					border-top: 1px solid darken(#efece7, 10%);
					padding-top: 10px;
					font-size: .8em;
				}

				&:after {
					content: " ";

					display: block;
					width: 126px;
					height: 32px;

					position: absolute;
					top: 25px;
					right: -70px;

					background: transparent url('../img/seta-inscricoes.png') no-repeat;
				}
			}
		}

		a.botao {
			.column(5);

			background-color: @verde;
			text-align: center;
		}
	}

}