.gradient(@from, @to) {
	background-color: @to;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@from), to(@to));
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image:    -moz-linear-gradient(top, @from, @to);
	background-image:     -ms-linear-gradient(top, @from, @to);
	background-image:      -o-linear-gradient(top, @from, @to);
}

.gradient-with-image(@from, @to, @image) {
	background-image: @image;
	.gradient(@from, @to);
}

.animation(@name, @duration: 300ms, @delay: 0, @iteration: infinite, @ease: linear, @direction: alternate) {
	-webkit-animation: @name @duration @delay @iteration @ease @direction;
	-moz-animation:    @name @duration @delay @iteration @ease @direction;
	animation:    	   @name @duration @delay @iteration @ease @direction;
}

.animation-duration(@duration: 300ms) {
	-webkit-animation-duration: @duration;
	-moz-animation-duration: @duration;
	animation-duration: @duration;
}